h1 {
  font-size: 50px;
  border: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.topNav {
  display:flex;
  justify-content: flex-end;
  justify-content: space-between;
  background-color: #c6c6cf;
  overflow: hidden;
  padding: 0px 45px;
  align-items: center;
  font-size: large;
}
.top {
  display: flex;
  justify-content: space-between;
}
body {
  background-color: rgb(128, 134, 151);
  margin: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 20px;
  border: 6px;
  background-color: black;
  color: rgb(214, 4, 4);
}
img {
  width: 20%;
  height: 700px;
  object-fit: cover;
  
 justify-content: start;
  padding: 10px 0px 10px 0px;
}
.text {
  display:flex;

}
.home {
  color: black;
  font-size: large;
}
