
.topNav, .top {
  display:flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  background-color: #c6c6cf;
  overflow: hidden;
  padding: 0px 45px;
  align-items: center;
  font-size: large;
}

body {
  background-color: rgb(181, 183, 189);
  margin: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 20px;
  border: 6px;
  background-color: black;
  color: rgb(214, 4, 4);
}
img {
  width: 32%;
  height: 90%;
  object-fit: cover;
  display: flex;
  float: right;
  padding: 10px 15px 10px 15px;
}
.main {
  display:flex;

  text-align: left;
}
.home {
  color: black;

}
p {
  width: 230px;
  padding-right: px;
}
.all {
  display:flex;
}