
.topNav .home {
  display: flex;
  align-content: center;
  flex-grow: 2;
  font-weight: bold;
  font-size: 25px;

}
.topNav a {
  margin-right: 10px; 
}

.topNav a:last-child {
  margin-right: 0; 
}

.topNav, .top {
  display:flex;

  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  padding: 10px 45px;
  overflow: hidden;

  font-size: 20px;

}
h1, h2 {
  font-size: 70px;
  padding: 0;
}
h2 {
  margin-top: -60px;
}
.all {
  display: flex;
  flex-direction: column;
padding: 70px;
margin-left: 70px;
}

body {
  background-color: rgb(227, 229, 233);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}



.main {
  display: flex;

  text-align: left;
}

.home {
    color: black;
}

.red {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.green {
    color: #3baf1e;
    font-size: 40px;
    font-weight: bold;
}
p {
  width: 230px;
  padding-right: 10px;
  font-size: 20px;

}


h4 {
  background-color: white;
  padding: 10px;
}
h5 {
  background-color: #3baf1e;
  padding: 20px 10px 20px 10px;
}


.img:hover {
  transform: scale(1,1.5);
}
.topNav, .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf9f9;
  padding: 10px 45px;
  overflow: hidden;
  font-size: 20px;
}

img {

  width: 360px;
  height: 650px;
  object-fit: cover;

  margin-top: 20px;
  transition: .2s;
  padding: 10px 15px 10px 15px;
}

.img-group {
  text-align: center;
  position: relative;
}

.img-group img,
.img:hover {
    
  width: 360px;
  height: 650px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: .2s;
}
h3 {
  margin-bottom: 20px;
}
h4, h5 {
  margin: 0;
}
h4 {
width: 50%;
text-align: left;
display: flex;

}
h5 {
width: auto;
}
.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 100px 15px 112px 90px;
  text-align: right;
  display: inline-block;
}

.caption h4, .caption h5 {
  margin: 0;
}

.caption h5 {
  background-color: #3baf1e;
  padding: 10px;
  color: white;
}
.right {
  display: flex;
  margin-left: 25px;
}